{% extends "vm/vm_base.xml.j2" %}
{% set vm_name = "dbserver" %}
{% set vm_uuid = "bcff2bd0-efb7-434b-8cf7-28d0d5f6e73e" %}
{% set vm_mem = 1024 * 1024 %}
{% set intnet_mac = "52:54:00:c7:3a:7d" %}
{% block devices %}
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='/var/lib/libvirt/images/db-data.qcow2'/>
      <target dev='vdb' bus='virtio'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x09' function='0x0'/>
    </disk>
{% endblock %}
