{% extends "vm/vm_base.xml.j2" %}
{% set vm_name = "gateway" %}
{% set vm_uuid = "dc09f4e4-9844-42b8-905c-52211a8b0344" %}
{% set vm_mem = 512 * 1024 %}
{% set intnet_mac = "52:54:00:34:ad:67" %}
{% block devices %}
   <interface type='network'>
      <mac address='52:54:00:e9:5f:2b'/>
      <source network='default'/>
      <model type='virtio'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x09' function='0x0'/>
    </interface>
{% endblock %}
