{% extends "vm/vm_base.xml.j2" %}
{% set vm_name = "mail2" %}
{% set vm_mem = 512 * 1024 %}
{% set intnet_mac = "52:54:00:24:25:1c" %}
{% block devices %}
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='/var/lib/libvirt/images/mail-data2.qcow2'/>
      <target dev='vdb' bus='virtio'/>
      <address type='pci' domain='0x0000' bus='0x02' slot='0x00' function='0x0'/>
    </disk>
{% endblock %}
