[Unit]
Description=xbrowsersync server
After=network-online.target
Wants=network-online.target
Wants=systemd-networkd-wait-online.service

[Service]
ExecStart=/usr/bin/env node /var/www/xbrowsersync/dist/api.js
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=xbrowsersync
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
