<?php

	putenv('TTRSS_DB_HOST={{ db.ttrss.host }}');
	putenv('TTRSS_DB_USER={{ db.ttrss.user }}');
	putenv('TTRSS_DB_NAME={{ db.ttrss.name }}');
	putenv('TTRSS_DB_PASS={{ db.ttrss.pass }}');
	putenv('TTRSS_DB_PORT={{ db.ttrss.port }}');

	putenv('TTRSS_SELF_URL_PATH=https://tt-rss2.simon816.com/');
	// This should be set to a fully qualified URL used to access
	// your tt-rss instance over the net, such as: https://example.org/tt-rss/
	// The value should be a constant string literal. Please don't use
	// PHP server variables here - you might introduce security
	// issues on your install and cause hard to debug problems.
	// If your tt-rss instance is behind a reverse proxy, use the external URL.

	// *****************************
	// *** Files and directories ***
	// *****************************

	putenv('TTRSS_PHP_EXECUTABLE=/usr/bin/php');
	// Path to PHP *COMMAND LINE* executable, used for various command-line tt-rss
	// programs and update daemon. Do not try to use CGI binary here, it won't work.
	// If you see HTTP headers being displayed while running tt-rss scripts,
	// then most probably you are using the CGI binary. If you are unsure what to
	// put in here, ask your hosting provider.

	putenv('TTRSS_LOCK_DIRECTORY=lock');
	// Directory for lockfiles, must be writable to the user you run
	// daemon process or cronjobs under.

	putenv('TTRSS_CACHE_DIR=cache');
	// Local cache directory for RSS feed content.

	// **********************************
	// *** Cookies and login sessions ***
	// **********************************

	putenv('TTRSS_SESSION_COOKIE_LIFETIME=86400');
	// Default lifetime of a session (e.g. login) cookie. In seconds,
	// 0 means cookie will be deleted when browser closes.

	// ***************************************
	// *** Other settings (less important) ***
	// ***************************************

	putenv('TTRSS_PLUGINS=auth_internal, note, data_migration');
	// Comma-separated list of plugins to load automatically for all users.
	// System plugins have to be specified here. Please enable at least one
	// authentication plugin here (auth_*).
	// Users may enable other user plugins from Preferences/Plugins but may not
	// disable plugins specified in this list.
	// Disabling auth_internal in this list would automatically disable
	// reset password link on the login form.
