- name: Install packages
  become: yes
  apt:
    name: "{{ packages }}"
  vars:
    packages:
      - curl
      - sqlite3

- name: Remove old package
  become: yes
  apt:
    name: sonarr
    state: absent

- name: Get is sonarr installed
  stat:
    path: /opt/Sonarr
  register: sonarr_dir_stat

- name: Download sonarr
  get_url:
    url: "https://services.sonarr.tv/v1/download/main/latest?version=4&os=linux&arch=x64"
    dest: /tmp/
  when: not sonarr_dir_stat.stat.exists
  register: sonarr_tar

- name: Install sonarr
  become: yes
  unarchive:
    src: "{{ sonarr_tar.dest }}"
    remote_src: yes
    creates: /opt/Sonarr
    dest: /opt/
  when: sonarr_tar is not skipped

- name: Configure sonarr service
  become: yes
  template:
    src: sonarr.service.j2
    dest: /etc/systemd/system/sonarr.service
  notify:
    - restart sonarr service

- name: Enable sonarr service
  become: yes
  service:
    name: sonarr
    enabled: yes
    state: started
