[Unit]
Description=Sonarr Daemon
After=syslog.target network.target
RequiresMountsFor=/srv

[Service]
ExecStart=/opt/Sonarr/Sonarr -nobrowser
User=sinkhole
Group=sinkhole
TimeoutStopSec=20
KillMode=process
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sonarr

[Install]
WantedBy=multi-user.target
