define host {
  host_name                      localhost
  alias                          localhost
  address                        127.0.0.1
  use                            linux-server                        ; Name of host template to use
}

define service {
  service_description            PING
  host_name                      localhost
  use                            local-service                       ; Name of service template to use
  check_command                  check_ping!100.0,20%!500.0,60%
}

define service {
  service_description            Root Partition
  host_name                      localhost
  use                            local-service                       ; Name of service template to use
  check_command                  check_local_disk!20%!10%!/
}

define service {
  service_description            Current Load
  host_name                      localhost
  use                            local-service                       ; Name of service template to use
  check_command                  check_local_load!5.0,4.0,3.0!10.0,6.0,4.0
}

# Define a service to check SSH on the local machine.
# Disable notifications for this service by default, as not all users may have SSH enabled.
define service {
  service_description            SSH
  host_name                      localhost
  use                            local-service                       ; Name of service template to use
  check_command                  check_ssh
  notifications_enabled          0
}

# Define a service to check HTTP on the local machine.
# Disable notifications for this service by default, as not all users may have HTTP enabled.
define service {
  service_description            HTTP
  host_name                      localhost
  use                            local-service                       ; Name of service template to use
  check_command                  check_http!-u /naemon/
  notifications_enabled          0
}
