[Unit]
Description=Deluge Bittorrent Client Web Interface
Documentation=man:deluge-web
After=network-online.target deluged.service
Wants=deluged.service

[Service]
User=sinkhole
Group=sinkhole
Type=simple
UMask=027

ExecStart=/usr/bin/deluge-web -d -c /var/lib/deluged/config

Restart=on-failure

[Install]
WantedBy=multi-user.target
