- name: Install ttrss dependencies
  become: yes
  apt:
    name: "{{ packages }}"
  vars:
    packages:
    - git
    - php-pgsql

- name: Ensure ttrss dir
  become: yes
  file:
    name: /var/www/ttrss2
    state: directory
    owner: www-data
    group: www-data

- name: Ensure ttrss files
  become: yes
  become_user: www-data
  git:
    repo: "https://github.com/tt-rss/tt-rss.git"
    dest: /var/www/ttrss2
  notify:
    - restart apache
    - restart ttrss

- name: Ensure ttrss data_migration plugin
  become: yes
  become_user: www-data
  git:
    repo: "https://github.com/tt-rss/tt-rss-plugin-data-migration.git"
    dest: /var/www/ttrss2/plugins.local/data_migration

- name: ttrss config
  become: yes
  become_user: www-data
  template:
    src: config.php.j2
    dest: /var/www/ttrss2/config.php
  notify:
    - restart ttrss

- name: Configure ttrss apache
  become: yes
  copy:
    src: ttrss.conf
    dest: /etc/apache2/sites-available/ttrss2.conf
  notify:
    - restart apache

- name: Enable ttrss apache site
  become: yes
  command: a2ensite ttrss2
  args:
    creates: /etc/apache2/sites-enabled/ttrss2.conf
  notify:
    - restart apache

- name: Configure ttrss service
  become: yes
  copy:
    src: ttrss_backend.service
    dest: /etc/systemd/system/ttrss_backend2.service
  notify:
    - restart ttrss

- name: Enable ttrss service
  become: yes
  service:
    name: ttrss_backend2
    enabled: yes
    state: started
